$card_margin: 10px;

.categoryCard {
  display: inline-block;
  width: 100%;
  margin-bottom: $card_margin / 2;
  margin-top: $card_margin / 2;
}

.keyword {
  margin: 5px;
  font-size: 15pt;
  white-space: normal;
}

.categoryParent {
  column-width: 300px;
  column-gap: $card_margin;
}
